#srl_overLay{
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	background-color: #000;
	cursor: pointer;
	display:none;
}
#srl_layer{
	border:2px solid black;
	background-color: #fff;
	width: 700px;
	height: 500px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -350px;
	margin-top: -250px;
	z-index: 9999;
	display:none;
}
#srl_closeBtn {
	position:absolute;
	right:10px;
	top:10px;
	width: 21px;
	height:21px;
	background: transparent url("../images/layer_CloseBtn.png") no-repeat center;
	z-index: 10000;
	text-indent:-9999px;
	cursor: pointer;
}
.srl_content{
	position:relative;
	overflow: auto;
    padding:20px;
}
